

<div class="center">


  
    <div>

    <div class="col-md-12">
      <table  class="flat-table flat-table-1" style="margin-top: 20px;">
        <thead>
          <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Student Name</th>
            <th scope="col">Student Roll</th>

 
            <th scope="col">Action</th>
          </tr> 
        </thead>
        <tbody>
          <tr *ngFor="let student of student$ | async">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.roll}}</td>
         
            <td>

              <button (click)="editStudent(student.id)">Edit</button>
           

              <button (click)="deleteStudent(student.id)" >Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    

  </div>

  


</div>


<div class="center">
<form  #myForm="ngForm" (ngSubmit)="createStudent(user.name,user.roll)" class="form">
  <div class="title">Registration</div>
  <div class="subtitle">Register a new Student here</div>
  <div class="input-container ic1">
    <input id="name" [(ngModel)]="user.name" name="name" class="input" type="text" placeholder=" " />
    <div class="cut"></div>
    <label for="name"  class="placeholder">Name</label>
  </div>
  <div class="input-container ic2">
    <input id="roll"  [(ngModel)]="user.roll" name="roll" class="input" type="text" placeholder=" " />
    <div class="cut"></div>
    <label for="roll"  class="placeholder">Roll</label>
  </div>

  <button type="submit" [disabled]="!myForm.valid" type="text" class="submit">submit</button>
</form>
</div>

